.topLeft(@top, @left) {
    top: @top;
    left: @left;
}

.topRight(@top, @right) {
    top: @top;
    right: @right;
}

.bottomLeft(@bottom, @left) {
    bottom: @bottom;
    left: @left;
}

.bottomRight(@bottom, @right) {
    bottom: @bottom;
    right: @right;
}
