/* ==========================================================================
   ATOMIC FRAMEWORK
   ========================================================================== */
/**
 * This is the control panel where all of the quarks, atoms and molecules are imported.
 */
/* Helpers
========================================================================== */
/*
 * Less imports that are ment to be added to actual less stylesheets
 */
/**
 * List all colors used within the application here
 */
/**
 * List all fonts used within the application here
 */
/**
 * List all custom mixins used within the application here
 */
/* Utilities
========================================================================== */
/*
 * Global classes, mixins and styles that can be used anywhere and at any time.
 */
/**
 * Atomic utility classes for text styles
 * NOTE: !important is added below because these are considered "final" classes
 */
.txt-s10 {
  font-size: 10px !important;
}
.txt-s12 {
  font-size: 12px !important;
}
.txt-s14 {
  font-size: 14px !important;
}
.txt-s16 {
  font-size: 16px !important;
}
.txt-s18 {
  font-size: 18px !important;
}
.txt-s20 {
  font-size: 20px !important;
}
.txt-s22 {
  font-size: 22px !important;
}
.txt-s24 {
  font-size: 24px !important;
}
.txt-s26 {
  font-size: 26px !important;
}
.txt-s28 {
  font-size: 28px !important;
}
.txt-s30 {
  font-size: 30px !important;
}
.txt-s36 {
  font-size: 36px !important;
}
.txt-s48 {
  font-size: 48px !important;
}
.txt-s60 {
  font-size: 60px !important;
}
.txt-s72 {
  font-size: 72px !important;
}
.txt-sm {
  font-size: 70% !important;
}
.txt-lg {
  font-size: 130% !important;
}
.txt-legal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.txt-norm {
  font-weight: normal !important;
  font-style: normal !important;
  text-transform: none !important;
  text-decoration: none !important;
}
.txt-bold {
  font-weight: bold !important;
}
.txt-i {
  font-style: italic !important;
}
.txt-u {
  text-decoration: underline !important;
}
.txt-strike {
  text-decoration: underline !important;
}
.txt-upper {
  text-transform: uppercase !important;
}
.txt-lower {
  text-transform: lowercase !important;
}
.txt-cap {
  text-transform: capitalize !important;
}
.txt-l {
  text-align: left !important;
}
.txt-r {
  text-align: right !important;
}
.txt-c {
  text-align: center !important;
}
/**
 * Atomic utility classes for adding padding and margins around containers
 * NOTE: !important is added below because these are considered "final" classes
 */
/**
 * atomic padding
 */
.p-0 {
  padding: 0px !important;
}
.p-5 {
  padding: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-t5 {
  padding-top: 5px !important;
}
.p-t10 {
  padding-top: 10px !important;
}
.p-t20 {
  padding-top: 20px !important;
}
.p-r5 {
  padding-right: 5px !important;
}
.p-r10 {
  padding-right: 10px !important;
}
.p-r20 {
  padding-right: 20px !important;
}
.p-b5 {
  padding-bottom: 5px !important;
}
.p-b10 {
  padding-bottom: 10px !important;
}
.p-b20 {
  padding-bottom: 20px !important;
}
.p-b25 {
  padding-bottom: 25px !important;
}
.p-b23 {
  padding-bottom: 30px !important;
}
.p-l5 {
  padding-left: 5px !important;
}
.p-l10 {
  padding-left: 10px !important;
}
.p-l20 {
  padding-left: 20px !important;
}
/**
 * atomic margins
 */
.m-0 {
  margin: 0px !important;
}
.m-5 {
  margin: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-t5 {
  margin-top: 5px !important;
}
.m-t10 {
  margin-top: 10px !important;
}
.m-t15 {
  margin-top: 25px !important;
}
.m-t20 {
  margin-top: 20px !important;
}
.m-t25 {
  margin-top: 25px !important;
}
.m-t30 {
  margin-top: 30px !important;
}
.m-r5 {
  margin-right: 5px !important;
}
.m-r10 {
  margin-right: 10px !important;
}
.m-r15 {
  margin-right: 15px !important;
}
.m-r20 {
  margin-right: 20px !important;
}
.m-b5 {
  margin-bottom: 5px !important;
}
.m-b10 {
  margin-bottom: 10px !important;
}
.m-b15 {
  margin-bottom: 25px !important;
}
.m-b20 {
  margin-bottom: 20px !important;
}
.m-b25 {
  margin-bottom: 25px !important;
}
.m-b30 {
  margin-bottom: 30px !important;
}
.m-l5 {
  margin-left: 5px !important;
}
.m-l10 {
  margin-left: 10px !important;
}
.m-l15 {
  margin-left: 15px !important;
}
.m-l20 {
  margin-left: 20px !important;
}
/**
 * Atomic utility classes for setting the size of containers
 * NOTE: !important is added below because these are considered "final" classes
 */
.w-50 {
  width: 50px;
}
.w-100 {
  width: 100px;
}
.w-200 {
  width: 200px;
}
.w-350 {
  width: 360px;
}
.w-450 {
  width: 450px;
}
.w-600 {
  width: 600px;
}
.w-720 {
  width: 720px;
}
.w-800 {
  width: 800px;
}
.w-960 {
  width: 960px;
}
.w-1000 {
  width: 1000px;
}
.w-1024 {
  width: 1024px;
}
.w-max-50 {
  width: 100%;
  max-width: 50px;
}
.w-max-100 {
  width: 100%;
  max-width: 100px;
}
.w-max-200 {
  width: 100%;
  max-width: 200px;
}
.w-max-350 {
  width: 100%;
  max-width: 360px;
}
.w-max-450 {
  width: 100%;
  max-width: 450px;
}
.w-max-600 {
  width: 100%;
  max-width: 600px;
}
.w-max-720 {
  width: 100%;
  max-width: 720px;
}
.w-max-800 {
  width: 100%;
  max-width: 800px;
}
.w-max-960 {
  width: 100%;
  max-width: 960px;
}
.w-max-1000 {
  width: 100%;
  max-width: 1000px;
}
.w-max-1024 {
  width: 100%;
  max-width: 1024px;
}
.w-min-50 {
  width: 100%;
  min-width: 50px;
}
.w-min-100 {
  width: 100%;
  min-width: 100px;
}
.w-min-200 {
  width: 100%;
  min-width: 200px;
}
.w-min-350 {
  width: 100%;
  min-width: 360px;
}
.w-min-450 {
  width: 100%;
  min-width: 450px;
}
.w-min-600 {
  width: 100%;
  min-width: 600px;
}
.w-min-720 {
  width: 100%;
  min-width: 720px;
}
.w-min-800 {
  width: 100%;
  min-width: 800px;
}
.w-min-960 {
  width: 100%;
  min-width: 960px;
}
.w-min-1000 {
  width: 100%;
  min-width: 1000px;
}
.w-min-1024 {
  width: 100%;
  min-width: 1024px;
}
/* Quarks    
========================================================================== */
/*
 * Styles reserved for default HTML elements only. Default paragraphs, links, lists and micros. Style
 * guide stuff.
 */
/**
 * Default global styles for all container elements.
 */
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 66.66666667%;
}
/**
 * Default global styles for all <h*> elements.
 */
/**
 * Default global styles for all <a> elements.
 */
/**
 * Default global styles for all <ul> <ol> <dl> elements
 */
/**
 * Default global styles for all paragraph elements.
 */
/**
 * Default global styles for <table> elements
 */
/* Atoms
========================================================================== */
/*
 * CSS objects that can be extended from and into other elements of the site. Think of these as
 * the default relationships that can be used again and again without bloating the codebase.
 */
/**
 * Theme based style for all buttons within the application.
 * NOTE: styles in an atom should almost never be attached to an HTML element itself
 */
/**
 * Grid system styles.
 */
/**
  * Extends Bootstrap grid row with atomic css to change gutter spacing
  * NOTE: default gutter is 30 (padding-left: 15px; padding-right:15px;)
  */
.row.gutter-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.row.gutter-0 [class^="col-"] {
  padding-left: 0px;
  padding-right: 0px;
}
.row.gutter-6 {
  margin-left: -3px;
  margin-right: -3px;
}
.row.gutter-6 [class^="col-"] {
  padding-left: 3px;
  padding-right: 3px;
}
.row.gutter-10 {
  margin-left: -5px;
  margin-right: -5px;
}
.row.gutter-10 [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
/**
 * List all icons used within the application.
 */
.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: middle;
  margin-top: 1px;
}
/* Molecules
========================================================================== */
/*
 * Sometimes we need one-off structures, such as a banner or navigation element or footer, that we
 * don’t intend to replicate. This is where we can combine multiple quarks and atoms, without
 * interfering with any of our global styles.
 */
