/* ==========================================================================
   ATOMIC FRAMEWORK
   ========================================================================== */
/**
 * This is the control panel where all of the quarks, atoms and molecules are imported.
 */
/* Helpers
========================================================================== */
/*
 * Less imports that are ment to be added to actual less stylesheets
 */
/**
 * List all colors used within the application here
 */
/**
 * List all fonts used within the application here
 */
/**
 * List all custom mixins used within the application here
 */
/* Utilities
========================================================================== */
/*
 * Global classes, mixins and styles that can be used anywhere and at any time.
 */
.bg-white {
  background-color: #ffffff;
}
.bg-grey {
  background-color: #cccccc;
}
.border-grey {
  border: 1px solid #cccccc;
}
.pos-rel {
  position: relative !important;
}
.dsp-i {
  display: inline;
}
.dsp-ib {
  display: inline-block;
}
.dsp-b {
  display: block;
}
.dsp-n {
  display: none;
}
.cf,
.clearfix {
  *zoom: 1;
}
.cf:before,
.clearfix:before,
.cf:after,
.clearfix:after {
  content: " ";
  display: table;
}
.cf:after,
.clearfix:after {
  clear: both;
}
/**
 * Atomic utility classes for text styles
 * NOTE: !important is added below because these are considered "final" classes
 */
.txt-s10 {
  font-size: 10px !important;
}
.txt-s12 {
  font-size: 12px !important;
}
.txt-s14 {
  font-size: 14px !important;
}
.txt-s16 {
  font-size: 16px !important;
}
.txt-s18 {
  font-size: 18px !important;
}
.txt-s20 {
  font-size: 20px !important;
}
.txt-s22 {
  font-size: 22px !important;
}
.txt-s24 {
  font-size: 24px !important;
}
.txt-s26 {
  font-size: 26px !important;
}
.txt-s28 {
  font-size: 28px !important;
}
.txt-s30 {
  font-size: 30px !important;
}
.txt-s36 {
  font-size: 36px !important;
}
.txt-s48 {
  font-size: 48px !important;
}
.txt-s60 {
  font-size: 60px !important;
}
.txt-s72 {
  font-size: 72px !important;
}
.txt-sm {
  font-size: 70% !important;
}
.txt-lg {
  font-size: 130% !important;
}
.txt-legal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.txt-norm {
  font-weight: normal !important;
  font-style: normal !important;
  text-transform: none !important;
  text-decoration: none !important;
}
.txt-bold {
  font-weight: bold !important;
}
.txt-i {
  font-style: italic !important;
}
.txt-u {
  text-decoration: underline !important;
}
.txt-strike {
  text-decoration: underline !important;
}
.txt-upper {
  text-transform: uppercase !important;
}
.txt-lower {
  text-transform: lowercase !important;
}
.txt-cap {
  text-transform: capitalize !important;
}
.txt-l {
  text-align: left !important;
}
.txt-r {
  text-align: right !important;
}
.txt-c {
  text-align: center !important;
}
.txt-white {
  color: #ffffff;
}
/**
 * Atomic utility classes for adding padding and margins around containers
 * NOTE: !important is added below because these are considered "final" classes
 */
/**
 * atomic padding
 */
.p-40 {
  padding: 40px !important;
}
.p-35 {
  padding: 35px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-25 {
  padding: 25px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-5 {
  padding: 5px !important;
}
.p-0 {
  padding: 0px !important;
}
.p-t40 {
  padding-top: 40px !important;
}
.p-t35 {
  padding-top: 35px !important;
}
.p-t30 {
  padding-top: 30px !important;
}
.p-t25 {
  padding-top: 25px !important;
}
.p-t20 {
  padding-top: 20px !important;
}
.p-t15 {
  padding-top: 15px !important;
}
.p-t10 {
  padding-top: 10px !important;
}
.p-t5 {
  padding-top: 5px !important;
}
.p-t0 {
  padding-top: 0px !important;
}
.p-r20 {
  padding-right: 20px !important;
}
.p-r15 {
  padding-right: 15px !important;
}
.p-r10 {
  padding-right: 10px !important;
}
.p-r5 {
  padding-right: 5px !important;
}
.p-r0 {
  padding-right: 0px !important;
}
.p-b40 {
  padding-bottom: 40px !important;
}
.p-b35 {
  padding-bottom: 35px !important;
}
.p-b30 {
  padding-bottom: 30px !important;
}
.p-b25 {
  padding-bottom: 25px !important;
}
.p-b20 {
  padding-bottom: 20px !important;
}
.p-b15 {
  padding-bottom: 15px !important;
}
.p-b10 {
  padding-bottom: 10px !important;
}
.p-b5 {
  padding-bottom: 5px !important;
}
.p-b0 {
  padding-bottom: 0px !important;
}
.p-l20 {
  padding-left: 20px !important;
}
.p-l15 {
  padding-left: 15px !important;
}
.p-l10 {
  padding-left: 10px !important;
}
.p-l5 {
  padding-left: 5px !important;
}
.p-l0 {
  padding-left: 0px !important;
}
/**
 * atomic margins
 */
.m-20 {
  margin: 20px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-5 {
  margin: 5px !important;
}
.m-0 {
  margin: 0px !important;
}
.m-t30 {
  margin-top: 30px !important;
}
.m-t25 {
  margin-top: 25px !important;
}
.m-t20 {
  margin-top: 20px !important;
}
.m-t15 {
  margin-top: 15px !important;
}
.m-t10 {
  margin-top: 10px !important;
}
.m-t5 {
  margin-top: 5px !important;
}
.m-t0 {
  margin-top: 0px !important;
}
.m-r20 {
  margin-right: 20px !important;
}
.m-r15 {
  margin-right: 15px !important;
}
.m-r10 {
  margin-right: 10px !important;
}
.m-r5 {
  margin-right: 5px !important;
}
.m-r0 {
  margin-right: 0px !important;
}
.m-b30 {
  margin-bottom: 30px !important;
}
.m-b25 {
  margin-bottom: 25px !important;
}
.m-b20 {
  margin-bottom: 20px !important;
}
.m-b15 {
  margin-bottom: 15px !important;
}
.m-b10 {
  margin-bottom: 10px !important;
}
.m-b5 {
  margin-bottom: 5px !important;
}
.m-b0 {
  margin-bottom: 0px !important;
}
.m-l20 {
  margin-left: 20px !important;
}
.m-l15 {
  margin-left: 15px !important;
}
.m-l10 {
  margin-left: 10px !important;
}
.m-l5 {
  margin-left: 5px !important;
}
.m-l0 {
  margin-left: 0px !important;
}
[class^="abs-"],
[class*=" abs-"] {
  position: absolute;
}
.abs-t {
  top: 0px;
}
.abs-r {
  right: 0px;
}
.abs-b {
  bottom: 0px;
}
.abs-l {
  left: 0px;
}
/**
 * Atomic utility classes for setting the size of containers
 * NOTE: !important is added below because these are considered "final" classes
 */
.w-50 {
  width: 50px;
}
.w-100 {
  width: 100px;
}
.w-120 {
  width: 120px;
}
.w-200 {
  width: 200px !important;
}
.w-300 {
  width: 300px !important;
}
.w-350 {
  width: 350px !important;
}
.w-400 {
  width: 400px !important;
}
.w-600 {
  width: 600px;
}
.w-720 {
  width: 720px;
}
.w-800 {
  width: 800px;
}
.w-960 {
  width: 960px;
}
.w-1000 {
  width: 1000px;
}
.w-1024 {
  width: 1024px;
}
.w-100p {
  width: 100%;
}
.w-max-50 {
  width: 100%;
  max-width: 50px;
}
.w-max-100 {
  width: 100%;
  max-width: 100px;
}
.w-max-200 {
  width: 100%;
  max-width: 200px;
}
.w-max-350 {
  width: 100%;
  max-width: 360px;
}
.w-max-450 {
  width: 100%;
  max-width: 450px;
}
.w-max-600 {
  width: 100%;
  max-width: 600px;
}
.w-max-720 {
  width: 100%;
  max-width: 720px;
}
.w-max-800 {
  width: 100%;
  max-width: 800px;
}
.w-max-960 {
  width: 100%;
  max-width: 960px;
}
.w-max-1000 {
  width: 100%;
  max-width: 1000px;
}
.w-max-1024 {
  width: 100%;
  max-width: 1024px;
}
.w-min-50 {
  width: 100%;
  min-width: 50px;
}
.w-min-100 {
  width: 100%;
  min-width: 100px;
}
.w-min-200 {
  width: 100%;
  min-width: 200px;
}
.w-min-350 {
  width: 100%;
  min-width: 360px;
}
.w-min-450 {
  width: 100%;
  min-width: 450px;
}
.w-min-600 {
  width: 100%;
  min-width: 600px;
}
.w-min-720 {
  width: 100%;
  min-width: 720px;
}
.w-min-800 {
  width: 100%;
  min-width: 800px;
}
.w-min-960 {
  width: 100%;
  min-width: 960px;
}
.w-min-1000 {
  width: 100%;
  min-width: 1000px;
}
.w-min-1024 {
  width: 100%;
  min-width: 1024px;
}
.h-50 {
  height: 50px;
}
.h-80 {
  height: 80px;
}
.h-100 {
  height: 100px;
}
.h-150 {
  height: 150px;
}
.h-200 {
  height: 200px;
}
.h-350 {
  height: 350px;
}
.h-430 {
  height: 430px;
}
.h-450 {
  height: 450px;
}
.h-600 {
  height: 600px;
}
.h-720 {
  height: 720px;
}
.h-800 {
  height: 800px;
}
.h-960 {
  height: 960px;
}
.h-1000 {
  height: 1000px;
}
.h-1024 {
  height: 1024px;
}
.h-100p {
  height: 100%;
}
.h-min-50 {
  min-height: 50px;
}
.h-min-100 {
  min-height: 100px;
}
.h-min-200 {
  min-height: 200px;
}
.h-min-350 {
  min-height: 360px;
}
.h-min-450 {
  min-height: 450px;
}
.h-min-600 {
  min-height: 600px;
}
.h-min-720 {
  min-height: 720px;
}
.h-min-800 {
  min-height: 800px;
}
.h-min-960 {
  min-height: 960px;
}
.h-min-1000 {
  min-height: 1000px;
}
.h-min-1024 {
  min-height: 1024px;
}
/* Quarks
========================================================================== */
/*
 * Styles reserved for default HTML elements only. Default paragraphs, links, lists and micros. Style
 * guide stuff.
 */
/**
 * Default global styles for all container elements.
 */
html {
  height: 100%;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 66.66666667%;
  height: 100%;
}
/**
 * Default global styles for all <h*> elements.
 */
/**
 * Default global styles for all <a> elements.
 */
a {
  cursor: pointer;
}
/**
 * Default global styles for all <ul> <ol> <dl> elements
 */
ul.ul-horz {
  display: inline-block;
  list-style: none outside none;
}
ul.ul-horz > li {
  float: left;
  margin-left: 5px;
}
ul.ul-horz > li:first-child {
  margin-left: 0px;
}
/**
 * Default global styles for all paragraph elements.
 */
/**
 * Default global styles for <table> elements
 */
/* Atoms
========================================================================== */
/*
 * CSS objects that can be extended from and into other elements of the site. Think of these as
 * the default relationships that can be used again and again without bloating the codebase.
 */
/**
 * Theme based style for all buttons within the application.
 * NOTE: styles in an atom should almost never be attached to an HTML element itself
 */
/**
 * Grid system styles.
 */
/**
  * Extends Bootstrap grid row with atomic css to change gutter spacing
  * NOTE: default gutter is 30 (padding-left: 15px; padding-right:15px;)
  */
.row.gutter-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.row.gutter-0 [class^="col-"] {
  padding-left: 0px;
  padding-right: 0px;
}
.row.gutter-6 {
  margin-left: -3px;
  margin-right: -3px;
}
.row.gutter-6 [class^="col-"] {
  padding-left: 3px;
  padding-right: 3px;
}
.row.gutter-10 {
  margin-left: -5px;
  margin-right: -5px;
}
.row.gutter-10 [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
/**
 * List all icons used within the application.
 */
.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: middle;
  margin-top: 1px;
}
.modal-dialog .modal-content .modal-body {
  min-height: 150px;
}
.modal-dialog.modal-full {
  width: 98%;
  max-width: 1200px;
}
.panel.panel-box {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1) 0 25px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1) 0 25px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1) 0 25px 5px rgba(0, 0, 0, 0.5);
}
.panel.scroll {
  overflow-y: scroll;
  padding: 5px;
}
hr,
.hrule {
  clear: both;
  width: 100%;
  border: 0px;
  border-top: 1px solid #333333;
  height: 0px;
  margin: 4px 0px 5px 0px;
  overflow: hidden;
  padding-top: 1px;
}
hr.none,
.hrule.none {
  *filter: alpha(opacity=0);
  border-top: 0px;
}
hr.dot,
.hrule.dot {
  border-top: 1px dotted #333333;
}
hr.dash,
.hrule.dash {
  border-top: 1px dashed #333333;
}
hr.x2,
.hrule.x2 {
  margin: 10px 0px;
}
hr.x3,
.hrule.x3 {
  margin: 15px 0px;
}
hr.x4,
.hrule.x4 {
  margin: 20px 0px;
}
hr.x5,
.hrule.x5 {
  margin: 25px 0px;
}
hr.bottom.x2,
.hrule.bottom.x2 {
  margin: 20px 0px 0px;
}
hr.bottom.x3,
.hrule.bottom.x3 {
  margin: 30px 0px 0px;
}
hr.bottom.x4,
.hrule.bottom.x4 {
  margin: 40px 0px 0px;
}
hr.bottom.x5,
.hrule.bottom.x5 {
  margin: 50px 0px 0px;
}
hr.top.x2,
.hrule.top.x2 {
  margin: 0px 0px 20px;
}
hr.top.x3,
.hrule.top.x3 {
  margin: 0px 0px 30px;
}
hr.top.x4,
.hrule.top.x4 {
  margin: 0px 0px 40px;
}
hr.top.x5,
.hrule.top.x5 {
  margin: 0px 0px 50px;
}
.vrule {
  display: block;
  width: 0px;
  min-height: 30px;
  border-right: 1px solid #000000;
  padding-left: 5px;
  margin-right: 5px;
}
.vrule.white {
  border-color: #ffffff;
}
/* Molecules
========================================================================== */
/*
 * Sometimes we need one-off structures, such as a banner or navigation element or footer, that we
 * don’t intend to replicate. This is where we can combine multiple quarks and atoms, without
 * interfering with any of our global styles.
 */
