.pos-rel { 
	position: relative !important; 
}


.dsp-i {
	display: inline;
}
.dsp-ib {
	display: inline-block;
}
.dsp-b {
	display: block;
}
.dsp-n {
    display: none;
}

.cf,
.clearfix {
	.clearfix();
}