// # utilites/_positions.less

/**
 * Atomic utility classes for adding padding and margins around containers
 * NOTE: !important is added below because these are considered "final" classes
 */

.make-position(@prefix,@prop,@index) when (@index >= 0) {
    @sel: ~"@{prefix}@{index}";
    .@{sel} { @{prop}: @index*1px !important; }
    .make-position(@prefix,@prop,@index - 5);
}
/**
 * atomic padding
 */
.make-position(p-, padding, 40);

//padding-top
.make-position(p-t, padding-top, 40);

//padding-right
.make-position(p-r, padding-right, 20);

//padding-bottom
.make-position(p-b, padding-bottom, 40);

//padding-left
.make-position(p-l, padding-left, 20);

/**
 * atomic margins
 */
.make-position(m-, margin, 20);

//margin-top (mt)
.make-position(m-t, margin-top, 30);

//margin-right
.make-position(m-r, margin-right, 20);

//margin-bottom
.make-position(m-b, margin-bottom, 30);

//margin-left
.make-position(m-l, margin-left, 20);

//position
[class^="abs-"],
[class*=" abs-"] {
    position:absolute;
}
.abs-t { top: 0px; }
.abs-r { right: 0px; }
.abs-b { bottom: 0px; }
.abs-l { left: 0px; }
