// # quarks/_containers.less

/**
 * Default global styles for all container elements.
 */

html, body {

}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 100%/1.5;
}

.wrapper {

    > header {

    }

    .main {

    }

    > footer {

    }
}

.page {

    .page-header {

    }

    .page-intro {

    }

    .page-section {

    }

    .page-footer {

    }
}

.scroll-panel {
	overflow-y:scroll;
	padding: 5px;
}

section {

}

article {

}

aside {

}